body{
    font-family: Roboto,sans-serif;
    margin:0;
}

.discover-main{
    padding:1rem;
}

#visit-message{
    background:#f4f4f4;
    padding:1rem;
    margin-bottom:1rem;
    border-radius:8px;
}

#discover-cards{
    display:grid;
    gap:1rem;

    grid-template-areas:
    "card1"
    "card2"
    "card3"
    "card4"
    "card5"
    "card6"
    "card7"
    "card8";
}

.card{
    background:white;
    border:1px solid #ddd;
    padding:1rem;
    border-radius:10px;
}

.card img{
    width:100%;
    border-radius:10px;
}

#discover-cards .card:nth-child(1){grid-area:card1;}
#discover-cards .card:nth-child(2){grid-area:card2;}
#discover-cards .card:nth-child(3){grid-area:card3;}
#discover-cards .card:nth-child(4){grid-area:card4;}
#discover-cards .card:nth-child(5){grid-area:card5;}
#discover-cards .card:nth-child(6){grid-area:card6;}
#discover-cards .card:nth-child(7){grid-area:card7;}
#discover-cards .card:nth-child(8){grid-area:card8;}